.intro {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
}

.end {
    text-align: center;
    padding-top: 20px;
}