.topic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
}

.sub-topic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

.contact {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 30px;
}

.social-icons a {
  color: black;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #0077ff;
  transform: scale(1.1);
}