.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.nav-link {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}