.topic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
}

.details {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 70px;
}